In [8]:
%cd ~/NetBeansProjects/ExpLosion/
from notebooks.common_imports import *
from discoutils.cmd_utils import build_thesaurus_out_of_vectors
import logging
import pandas as pd
logging.basicConfig(level=logging.INFO,
                        format="%(asctime)s\t%(module)s.%(funcName)s """
                               "(line %(lineno)d)\t%(levelname)s : %(""message)s")
from discoutils.thesaurus_loader import Vectors

/Users/miroslavbatchkarov/NetBeansProjects/ExpLosion

In [2]:
path = '/home/m/mm/mmb28/Desktop/down/exp10-13-with-obs-phrases-SVD100.events.filtered.strings'
v = Vectors.from_tsv(path)
v.init_sims()

In [3]:
path = '/home/m/mm/mmb28/Desktop/down/word2vec-gigaw-100perc.unigr.strings.rep0'
w2v = Vectors.from_tsv(path)
w2v.init_sims()

In [5]:
compare_neighbours([v, w2v], 
        ['wins', 'w2v'], 
        ['attack/V', 'small/J', 'car/N', 'computer/N', 'official/N', 'monday/N', 'arafat/N', 'kill/V'])

,wins,w2v
attack/V,"raid/N, assault/N, firing/N, shell/V","use/V, target/V, approach/V, muslim-led/J"
small/J,"large/J, huge/J, place/V, damage/V","large/J, huge/J, beetle/N, eclectic/J"
car/N,"vehicle/N, truck/N, bus/N, driver/N","truck/N, scooter/N, vehicle/N, trolley/N"
computer/N,"software/N, technology/N, internet/N, video/N","software/N, electronic/J, photocopier/N, hands..."
official/N,"source/N, statement/N, ministry/N, authority/N","expert/N, diplomat/N, offical/N, source/N"
monday/N,"tuesday/N, thursday/N, wednesday/N, friday/N","tuesday/N, thursday/N, wednesday/N, friday/N"
arafat/N,"yasser/N, netanyahu/N, plo/N, rabin/N","israel/N, palestinian/J, sharon/N, yasser/N"
kill/V,"dead/J, die/V, injure/V, wound/V","injure/V, dead/J, wound/V, die/V"

In [6]:
compare_neighbours([v, w2v], ['wins', 'w2v'])

,wins,w2v
atp/N,"wta/N, tennis/N, denote/V, melbourne/N","wta/N, master/N, tennis/N, championships/N"
transit/V,"seaport/N, karni/N, israeli-lebanese/J, diaspo...","via/CONJ, traveler/N, onward/RB, overland/N"
rainforest/N,"centrepiece/N, biggest-ever/J, exposition/N, f...","temperate/J, pristine/J, outback/N, scenery/N"
denise/N,"millar/N, morley/N, charlie/N, judy/N","lauren/N, joanna/N, katie/N, purcell/N"
typical/J,"indifferent/J, shocking/J, disadvantage/N, eve...","harbinger/N, light-hearted/J, surreal/J, whiff/N"
surin/N,"bruny/N, moses/N, wotherspoon/N, kipketer/N","bruny/N, somluck/N, saen/N, middle-distance/J"
disclosure/N,"audit/N, secrecy/N, standard/J, regulator/N","appraisal/N, in-house/J, misrepresentation/N, ..."
mci/N,"wireless/N, docomo/N, mca/N, vodafone/N","nortel/N, anheuser-busch/N, telia/N, echostar/N"
lashkar/N,"jaish/N, behest/N, kashmiri/J, farooqi/N","jaish/N, harkatul/N, pakistani-based/J, catli/N"
cleric/N,"cleric/J, brotherhood/N, imam/N, al-azhar/N","clergyman/N, preacher/N, cleric/J, clergy/N"

In [5]:
path = '/lustre/scratch/inf/mmb28/FeatureExtractionToolkit/word2vec_vectors/word2vec-wiki-15perc.unigr.strings.rep%d'
vect = [Vectors.from_tsv(path%i)  for i in [0, 1, 2]]
for v in vect:
    v.init_sims()

In [14]:
df = compare_neighbours(vect, [0, 1, 2])

In [12]:
print(df.to_latex())

\begin{tabular}{llll}
\toprule
{} &                                                  0 &                                               1 &                                                  2 \\
\midrule
kos/N          &             syros/N, zakynthos/N, wolin/N, paros/N &           dagens/N, argosy/N, politico/N, urb/N &        hamann/N, barga/N, rzeczpospolita/N, moos/N \\
stalin/N       &         lenin/N, trotsky/N, bukharin/N, brezhnev/N &       lenin/N, hitler/N, goebbels/N, kerensky/N &         lenin/N, goebbels/N, neurath/N, kerensky/N \\
reductionist/J &  semiotic/J, teleology/N, scientism/N, rational... &                                            None &                                               None \\
kyushu/N       &          hokkaido/N, okayama/N, sendaus/N, iwate/N &    shikoku/N, hakodate/N, haiphong/N, keelung/N &         hokkaido/N, shikoku/N, honshu/N, chiyoda/N \\
caregiver/N    &    developmentally/RB, carer/N, infirm/N, infirm/J &   carer/N, dyslexia/N, alcoholic/N, nurturing/N &  carer/N, oncologist/N, developmentally/RB, hiv... \\
xr/N           &                           cvc/N, ase/N, dq/N, cx/N &                          xk/N, xa/N, xj/N, xw/N &                             cx/N, xk/N, yj/N, xb/N \\
inoculate/V    &  crossbreed/V, parasitize/V, immunize/V, antise... &  fossilize/V, conidium/N, fertilise/V, faeces/N &     regurgitate/V, shackle/V, sedate/V, malarial/J \\
serra/N        &              pico/N, noronha/N, barros/N, isidro/N &           oeste/N, bueno/N, jardim/N, freitas/N &           barra/N, castelo/N, domingos/N, jardim/N \\
microsoft/N    &                 ibm/N, ms-do/N, linux/N, netware/N &                 ibm/N, symbian/N, sdk/N, unix/N &                    linux/N, ms-do/N, ibm/N, unix/N \\
sancti/N       &   benedictus/N, francorum/N, sanctus/N, chronica/N &              selva/N, badia/N, santi/N, terme/N &                medio/N, guarda/N, studi/N, sacra/N \\
\bottomrule
\end{tabular}

In [15]:
df

,0,1,2
fertilization/N,"fertilisation/N, oocyte/N, spermatozoon/N, mat...","fertilisation/N, ovulation/N, lactation/N, clo...","oocyte/N, implantation/N, fertilisation/N, mei..."
greenblatt/N,"billington/N, creeley/N, jerrold/N, nathanson/N","greenwald/N, horrible/N, callicott/N, alanna/N","schulman/N, streeter/N, newsman/N, smigel/N"
voice-over/J,"non-musical/J, standup/N, unscripted/J, off-be...","videographer/N, voiceover/N, on-camera/J, colo...","voiceover/N, standup/N, videographer/N, colori..."
matzo/N,"matzah/N, unleavened/J, casserole/N, steamed/J","unleavened/J, knead/V, breadcrumb/N, cappuccino/N",None
galt/N,"hynes/N, maclaren/N, hewes/N, jerrold/N","nutting/N, kuttner/N, bayley/N, dillingham/N","hamilton/N, fernie/N, hovey/N, cottingham/N"
grate/V,"crispy/J, curd/N, suet/N, deep-fried/J","garnish/V, shredded/J, sliced/J, crispy/J","shredded/J, shred/V, flake/V, melted/J"
→/N,"→/UNK, f/UNK, ≤/UNK, ∈/N",None,None
fugitive/N,"fugitive/J, ex-slave/N, manumission/N, wrongfu...","escapee/N, fugitive/J, convict/N, ill-treatment/N","convict/N, non-combatant/N, infiltrator/N, jai..."
dunkirk/N,"anzio/N, bastogne/N, fontenoy/N, toulon/N","louisbourg/N, quiberon/N, minorca/N, lae/N","anzio/N, buna/N, wilhelmshaven/N, zeebrugge/N"
respirator/N,"tampon/N, silencer/N, treadmill/N, flashlight/N","unfiltered/J, potentiometer/N, wet/V, o-ring/N","azt/N, iud/N, biofeedback/N, anatomic/J"

In [34]:
df = compare_neighbours(vect, [0, 1, 2], ['stalin/N', 'microsoft/N', 'fugitive/N', 'car/N', 'paris/N', 'smith/N'])

In [35]:
df

,0,1,2
stalin/N,"lenin/N, trotsky/N, bukharin/N, brezhnev/N","lenin/N, hitler/N, goebbels/N, kerensky/N","lenin/N, goebbels/N, neurath/N, kerensky/N"
microsoft/N,"ibm/N, ms-do/N, linux/N, netware/N","ibm/N, symbian/N, sdk/N, unix/N","linux/N, ms-do/N, ibm/N, unix/N"
fugitive/N,"fugitive/J, ex-slave/N, manumission/N, wrongfu...","escapee/N, fugitive/J, convict/N, ill-treatment/N","convict/N, non-combatant/N, infiltrator/N, jai..."
car/N,"truck/N, motorbike/N, automobile/N, motorcycle/N","truck/N, motorbike/N, rear-engined/J, motorcyc...","truck/N, motorbike/N, bike/N, lorry/N"
paris/N,"marseille/N, brussels/N, saint-cloud/N, strasb...","brussels/N, aix-en-provence/N, angers/N, bourg...","brussels/N, strasbourg/N, dijon/N, nice/N"
smith/N,"mckay/N, robinson/N, fuller/N, moore/N","taylor/N, jones/N, moore/N, bennett/N","taylor/N, jones/N, foster/N, miller/N"

In [18]:
print(df.to_latex())

\begin{tabular}{llll}
\toprule
{} &                                                  0 &                                                  1 &                                                  2 \\
\midrule
stalin/N    &         lenin/N, trotsky/N, bukharin/N, brezhnev/N &          lenin/N, hitler/N, goebbels/N, kerensky/N &         lenin/N, goebbels/N, neurath/N, kerensky/N \\
microsoft/N &                 ibm/N, ms-do/N, linux/N, netware/N &                    ibm/N, symbian/N, sdk/N, unix/N &                    linux/N, ms-do/N, ibm/N, unix/N \\
fugitive/N  &  fugitive/J, ex-slave/N, manumission/N, wrongfu... &  escapee/N, fugitive/J, convict/N, ill-treatment/N &  convict/N, non-combatant/N, infiltrator/N, jai... \\
car/N       &   truck/N, motorbike/N, automobile/N, motorcycle/N &  truck/N, motorbike/N, rear-engined/J, motorcyc... &              truck/N, motorbike/N, bike/N, lorry/N \\
\bottomrule
\end{tabular}

In [36]:
print(pd.DataFrame(df.stack()).to_latex())

\begin{tabular}{lll}
\toprule
         &   &                                                  0 \\
\midrule
stalin/N & 0 &         lenin/N, trotsky/N, bukharin/N, brezhnev/N \\
         & 1 &          lenin/N, hitler/N, goebbels/N, kerensky/N \\
         & 2 &         lenin/N, goebbels/N, neurath/N, kerensky/N \\
microsoft/N & 0 &                 ibm/N, ms-do/N, linux/N, netware/N \\
         & 1 &                    ibm/N, symbian/N, sdk/N, unix/N \\
         & 2 &                    linux/N, ms-do/N, ibm/N, unix/N \\
fugitive/N & 0 &  fugitive/J, ex-slave/N, manumission/N, wrongfu... \\
         & 1 &  escapee/N, fugitive/J, convict/N, ill-treatment/N \\
         & 2 &  convict/N, non-combatant/N, infiltrator/N, jai... \\
car/N & 0 &   truck/N, motorbike/N, automobile/N, motorcycle/N \\
         & 1 &  truck/N, motorbike/N, rear-engined/J, motorcyc... \\
         & 2 &              truck/N, motorbike/N, bike/N, lorry/N \\
paris/N & 0 &  marseille/N, brussels/N, saint-cloud/N, strasb... \\
         & 1 &  brussels/N, aix-en-provence/N, angers/N, bourg... \\
         & 2 &          brussels/N, strasbourg/N, dijon/N, nice/N \\
smith/N & 0 &             mckay/N, robinson/N, fuller/N, moore/N \\
         & 1 &              taylor/N, jones/N, moore/N, bennett/N \\
         & 2 &              taylor/N, jones/N, foster/N, miller/N \\
\bottomrule
\end{tabular}

In [50]:
import sys
sys.path.append('../thesisgenerator/thesisgenerator/')
from thesisgenerator.plugins.multivectors import MultiVectors
mv = MultiVectors(vect)
mv.init_sims(n_neighbors=100)

In [131]:
data = []
maxn=8
word = 'mercedes/N'
reordered = [x[0] for x in mv.get_nearest_neighbours(word)[:maxn]]
# mercedes (removes names, e.g. alesi, sebastien)
# silver/N (removes "event", "caldecott") which belong to a certain sense (competition)
data.append(reordered)
reordered

['ferrari/N',
 'lancia/N',
 'citroen/N',
 'carrera/N',
 'enzo/N',
 'maserati/N',
 'sainz/N',
 'honda/N']

In [132]:
for v in mv.vectors:
    n = v.get_nearest_neighbours(word)
    data.append([x[0] for x in n[:maxn]])
    print([x[0] for x in n[:maxn]])
    print('---------------')

['lancia/N', 'carrera/N', 'ferrari/N', 'alesi/N', 'flavio/N', 'nuvolari/N', 'sébastien/N', 'renault/N']
---------------
['ferrari/N', 'lola/N', 'ducati/N', 'tipo/N', 'oldsmobile/N', 'panoz/N', 'duhamel/N', 'risi/N']
---------------
['ascari/N', 'citroen/N', 'sauber/N', 'gallardo/N', 'caprice/N', 'lola/N', 'risi/N', 'hispano/N']
---------------

In [134]:
ddf= pd.DataFrame(data[::-1], index='rep0 rep1 rep2 reordered'.split(),
            columns=['Neigh %d'%(i+1) for i in range(maxn)])
ddf

,Neigh 1,Neigh 2,Neigh 3,Neigh 4,Neigh 5,Neigh 6,Neigh 7,Neigh 8
rep0,ascari/N,citroen/N,sauber/N,gallardo/N,caprice/N,lola/N,risi/N,hispano/N
rep1,ferrari/N,lola/N,ducati/N,tipo/N,oldsmobile/N,panoz/N,duhamel/N,risi/N
rep2,lancia/N,carrera/N,ferrari/N,alesi/N,flavio/N,nuvolari/N,sébastien/N,renault/N
reordered,ferrari/N,lancia/N,citroen/N,carrera/N,enzo/N,maserati/N,sainz/N,honda/N

In [130]:
print(ddf.to_latex())

\begin{tabular}{lllllll}
\toprule
{} &    Neigh 1 &    Neigh 2 &    Neigh 3 &     Neigh 4 &       Neigh 5 &     Neigh 6 \\
\midrule
rep0      &   ascari/N &  citroen/N &   sauber/N &  gallardo/N &     caprice/N &      lola/N \\
rep1      &  ferrari/N &     lola/N &   ducati/N &      tipo/N &  oldsmobile/N &     panoz/N \\
rep2      &   lancia/N &  carrera/N &  ferrari/N &     alesi/N &      flavio/N &  nuvolari/N \\
reordered &  ferrari/N &   lancia/N &  citroen/N &   carrera/N &        enzo/N &  maserati/N \\
\bottomrule
\end{tabular}